NODE_ENV=development
PORT=8080
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://myexcerpt4_db_user:3BXkuXtCkezZw3DN@cluster0.esgm9dw.mongodb.net/

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

ADMIN_EMAIL=adminonly@gmail.com
ADMIN_PASSWORD=123456
